<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Note</title>
</head>
<body>
    <form action="/mynotes" method="post">
        <label for="title">Enter the title</label>
        <input type="text" id="title" name="title" placeholder="Title">
        <hr>   
        <label for="content">Enter the note</label>
        <br>
        <textarea name="content" id="content" cols="30" rows="10" placeholder="Add note"></textarea>
        <br>
        <button>Submit</button>
    </form>
</body>
</html>